
  <div class="v15_5094">
    <div class="v15_5095" style="background: none !important;">
      <img style="background: none !important;" [src]="this.cliente.seloperfil.capafotourl" alt="" srcset="">
    </div>
    <div class="v15_5097">
      <div class="v15_5098"><span class="v15_5099">9:41</span></div>
      <div class="v15_5100">
        <div class="v15_5101">
          <div class="name"></div>
          <div class="v15_5107"></div>
        </div>
        <div class="name"></div>
        <div class="name"></div>
      </div>
    </div>
    <div class="v15_5117">
      <span style="color: aliceblue; font-weight: bold;">{{this.cliente.pontos}} pts</span>
      <div class="v15_5126">
        <div class="v15_5127">
          <div class="v15_5128">
            <div class="v15_5129">
              <div class="v15_5130">
                <img class="v15_5130" [src]="this.cliente.seloperfil.fotourl" alt="" srcset="">
              </div>
            </div>
            <span class="v15_5147"
              style="margin-left: 10px; margin-top: 0px;">Parabéns, {{this.cliente.nome}} você é {{this.cliente.seloperfil.titulo}}!</span
            >
          </div>
        </div>
        <div class="v15_5148">
          <img class="v15_5149" [src]="this.cliente.fotourl">
            <div class="v15_5150"></div>
        />
        </div>
      </div>
    </div>

    <div *ngFor="let trilha of this.cliente.trilhas">
      <a  class="v15_5193" [routerLink]="'/trilha/'+trilha.id">
        <div >
          <img  class="v15_5194" [src]="trilha.fotourl" alt="" srcset="">
        </div>
        <div class="v15_5212">

              <span class="v15_5215">{{trilha.titulo}}</span
              ><span class="v15_5216"
                >{{trilha.descricao}}</span
              >

        </div>
      </a>
    </div>
  </div>

